*{
    margin: 10px 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
    align-self: center;
}

.main-heading{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom:0 ;
}

.sub-heading{
    text-align: center;
    margin-top: 0;
    color: gray;
}

.cntr{
    max-width: 800px;
    margin: 0 auto;
    width : 95%;
}

.properties{
    margin: 0;
    /* font-family: 'Pangolin', cursive; */
}

.progress-bar{
    margin: 0;
}