*{
    margin: 10px 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/hulk.jpg);
    background-size: 1200px;
    background-attachment: fixed;
    background-position-x: center;
}


img{
    max-width: 100%;
    display: block;
    height: 400px;
    width: 350px;
    border-radius: 4px ;
}

.main-heading{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color:green;
    margin-bottom:0 ;
}

.sub-heading{
    text-align: center;
    margin-top: 0;
    color: gray;
}

.cntr{
    max-width: 1100px;
    margin: 0 auto;
    width : 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.jumbotron{
    height: 500px;
    width: 350px;
}

.properties{
    margin: 0;
}

.progress-bar{
    margin: 0;
}

@media (max-width:800px){
    .cntr{
        grid-template-columns: repeat(2,1fr) ;
    }
}

@media (max-width:400px){

    body{
        background-image: url(img/spiderman.jpg);
        background-size: 1200px;
    }
    .cntr{
        grid-template-columns: 1fr ;
    }
}